.tag {
  background-color: rgba(0, 0, 0, 0.336);
  cursor: pointer;
  display: flex;
  height: 30px;
  overflow: hidden;
  padding: 1px 20px;
  border-radius: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: white
}
