@import "../../css-config/mixins.scss";

.discountSell{
    width: 100%;
    .container{
        padding: 40px;
        max-width: 1300px;
        margin: 0 auto;
      
            h2::after {
                content: "";
                display: block;
                width: 50px;
                height: 5px;
                background-color: blueviolet;
                border-radius: 5px;
                margin-bottom: 50px;
              }
        
        .discount_product{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;

            .discount_product_item{
                width: calc(25% - 40px);
                @include md {
                    width: calc(50% - 20px);
                  }
            }
        }
        .load-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            button{
                border: none;
                background: none;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 15px 50px;
                cursor: pointer;
                font-weight: 600;
                font-size: 1.2rem;
                border-radius: 10px;
            }
        }

    }
}
