.slider {
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .containerStyles{
     height: 300px;
     width: auto;
     margin: 0 auto
  }
}


.turn-icon {
  div {
    background-color: black;
    padding: 0 18px;
    border-radius: 50%;
  }
}
