.counterContainer {
    display: flex;
    flex-direction: row;
    span{
        font-size: 2rem;
        width: 2.5rem;
        height: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.212);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
        &:nth-child(1){
            cursor: pointer;
        }
        &:nth-child(3){
            cursor: pointer;
        }
    }
}
