@import "../../css-config/mixins.scss";

.women {
    width: 100%;
    .women_banner {
      height: 50vh;
      background-image: url("https://site-1306369054.file.myqcloud.com/4958033261489775/2020/06/0c2a32f42892fe480de92c3bc53a2198.png?imageMogr2/format/webp/ignore-error/1");
      background-position: center;
      background-size: cover;
    }
    .women_container{
      max-width: 1300px;
      margin: 0 auto;
      .discount_product{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;

        .discount_product_item{
            width: calc(25% - 40px);
            @include md {
                width: calc(50% - 20px);
              }
        }
    }
    }
  }
  