@import "../../css-config/mixins.scss";

.product{
    width: 100%;
    // margin: 100px 0;
    .product_container{
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: start;
      @include md{
        gap: 60px;
      }
    }

}