@import "../../css-config/mixins.scss";

.header {
  width: 100%;
  z-index: 100;
  margin-bottom: 80px;
  @include md{
    margin-bottom: 50px;
  }
  .header_content{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
    @include md {
      height: 50px;
      padding: 0 20px;
      padding-left: 0;
    }
  }
   
  .header_container {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #212121;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    @include sm{
      padding: 0 10px;
    }
   
    .header_link {

      display: flex;
      a {
        text-decoration: none;
        color: white;
        padding: 0 25px;
        font-weight: 600;
      } 
      @include sm{
        display: none;
      }
    }
    .header_name {
      a {
        color: white;
        text-decoration: none;
        font-weight: 600;
      }
      
    }
    .header_shopping {
      display: flex;
      flex-direction: row;
      span{
        color: white;
        font-weight: bold;
        margin: 0 5px;
        cursor: pointer;
      }
      div {
        cursor:pointer;
        color: white;
        padding: 0 10px;
        font-weight: 700;
        font-size: 1.35rem;
        position: relative;
        &:last-child::after {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: rgb(43, 86, 226);
          position: absolute;
          top: -3px;
          right: 5px;
        }
      }
      .bar{
        cursor: auto;
        margin-left: 5px;
      }
      .register{
        @include sm{
          display: none;
        }
      }
    }
  }
}


