@import "../../css-config/mixins.scss";

.productDetails {
  width: 100%;
  margin: 80px 0;
  padding: 0 40px;
  @include md {
    margin-top: 50px;
    padding: 0 20px;
  }
  .productDetails_container {
    max-width: 1300px;
    margin: 0 auto;
    .product_display {
      // margin-top: 100px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      align-items: start;
      @include md {
        flex-direction: column;
      }
      .display_image {
        flex: 1;
        img {
          margin-top: 50px;
          width: 100%;
          box-shadow: rgba(136, 165, 191, 0.288) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.288) -6px -2px 16px 0px;
        }
      }
      .display_content {
        flex: 1;
        padding: 2rem;
        .displayContent_action {
          display: flex;
          gap: 1rem;
          padding-bottom: 2rem;
          border-bottom: 2px solid rgba(128, 128, 128, 0.205);
        }
        .product_category_and_share {
          div {
            display: flex;
            align-items: center;
            gap: 0.8rem;
          }
        }
      }
    }
    .product_heading {
      h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 5px;
        background-color: blueviolet;
        border-radius: 5px;
        margin-bottom: 50px;
      }
    }
  }
}
