.orderTableBody{
    .productAction{
        .content{
            color: blueviolet;
            display: flex;
            gap: 2px;
            justify-content: space-evenly;
        }
        a{
            color: black;
        }
    }
}
