.orderTableBody{
    a{
        color: blueviolet;
    }
    .productAction{
        .content{
            color: blueviolet;
            display: flex;
            gap: 2px;
            justify-content: space-evenly;
        }
        
    }
}
