.mans {
  width: 100%;

  .mans_banner {
    height: 50vh;
    background-image: url("https://cdn.shopify.com/s/files/1/1276/5299/files/shopMenEye.jpg");
    background-position: center;
    background-size: cover;
  }
  .mans_container{
    max-width: 1300px;
    margin: 0 auto;
  }
}
