.banner{
    width: 100%;
    height: 82vh;
    background-image: url('https://static1.lenskart.com/media/desktop/img/nov23/search/Search-query-plp-rooftop-banner-jj-sun.png');
    background-position: center;
    background-size: cover;

}